/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Import Google font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

p {
	letter-spacing: 1px;
	line-height: 1.4;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	line-height: 2;
}


/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/****** BASE LAYOUT STYLES ******/



/****** NAVIGATION STYLES ******/
nav {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
}

.links {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

nav a {
    text-decoration: none;
    text-align: center;
	color: #B0B0B0;
    font-size: 1.5em;
    border-bottom: 1px solid black;
    padding: 2%;
}

nav a:first-child {
    border-top: 1px solid black;    
}

nav img {
    padding: 2%;
}


/****** TITLE BANNER STYLES ******/ 
.banner {
    width: 95%;
    margin: 0 auto;
    padding: 5% 0;
	border-bottom: 1.5px solid #000;
}

.banner img {
    display: none;
}

.title {
	text-align: center;
}

.title button {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.1em;
	font-weight: 700;
	color: #0181ED;
	letter-spacing: 1px;
	width: 175px;
	height: 40px;
	background: none;
    border: 2px solid #0181ED;
    margin: 2% 0;
}

.title button:hover {
	background: #0181ED;
	color: #fff;
}

.title h1 {
	font-size: 5em;
}

/****** SECTION1 & SECTION2 STYLES ******/
.section1,
.section2 {
    width: 95%;
    margin: 0 auto;
    padding: 4% 0;
}

.section1 section,
.section2 section {
    padding: 4% 0;
}

/****** MIDDLE IMAGE STYLES ******/
.middle-img {
    padding: 0 2%;
}

/****** FOOTER STYLES ******/
footer {
    border-top: 1.5px solid black;
    width: 95%;
    margin: 0 auto;
	padding-top: 4%;
	line-height: 1.3;
}

footer a {
	text-decoration: none;
	color: #000;
}

.copyright {
	text-align: center;
	padding: 60px 0;
	font-size: small;
}

/****** MEDIA QUERIES ******/
@media (min-width: 500px) {
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav a {
        font-size: 1em;
        border: none;
    }
    nav a:first-child {
        border: none;
    }
    .section1 {
        display: flex;
        justify-content: space-between;
        padding: 2% 0;
    }
    .section1 section {
        width: 48%;
    }
    .section2 {
        display: flex;
        justify-content: space-between;
        padding: 2% 0;
    }
    .section2 section {
        width: 30%;
    }
}
